extends layout

block content
  link(rel='stylesheet', href='/stylesheets/elements.css')
  
  div(class='container')
    div(class='container_div_title')
      h1()= title 
    div(class='container_div_content')
      //if error then show error mssg
      if error 
        div(class='error')= error
      form(action="/register", method="post") 
        input(type="text", name="username", placeholder="Username", class='container_input_content')
        input(type="password", name="password", placeholder="Password", class='container_input_content')
        input(type="password", name="rpassword", placeholder="Repeate Password", class='container_input_content')
        input(type="submit", value="Register", class='container_input_content')
      form(action="/", method="get") 
        div(class='container_div_content')
          input(type="submit", value="Back to Login", class='container_input_content')
         
        
  
